
#body{
    background-color: rgb(170, 237, 240);
}
.container{
    text-align: center;
}
.container h2{
    background: var(--clr-black);
    color: var(--clr-white);
    padding: 1rem;
    border-radius: var(--radius);
    margin-bottom: 2.5rem;
}
#nav{
    background-color: white;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
nav ul {
    display: flex;
    align-items: center;
    cursor: pointer;
}
nav ul li{
    margin:0 1rem ;
    font-weight: 700;
    cursor: pointer;
    
}
#main{
    text-align: center ;
    margin-top: 100px;
    font-weight: 800px;
    font-size: 2rem;
    
}
#button{
    font-size: 2rem;
    color: #ffff;
    background-color: #2c6bd0;
    border: none;
    padding: .2rem 1rem;
    cursor: pointer;
}
#button:hover{
    background-color: #08347a;
}